.header-section {
	background:#f2f2f2 ;
	height:40px;
	width: 100%;
}
.header {
	color:white;
	font-size:20px;
	padding-left: 10px;
	padding-top: 10px;
}
.promo {
	padding-left: 10px;
	font-size:18px;
	color:silver ;
}
.footer-bg {
	background:black ;
	height:20px;
	text-align:center;
	color:white;
	position: fixed;
	width: 100%;
	bottom: 0px;
}
.content {
	margin-left:auto;
	margin-right:auto;
}
