header {
	margin-bottom: 2rem;
	z-index: 4;
}
footer {
	text-align: center;
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 24px;
	background: #007bff;
	font-size: 14px;
	color: white;
}
h3 {
	text-align: center;
	font-size: 24px;
}
#close {
	display: none;
}

@media (max-width: 768px) {
	#sidemenu {
		position: fixed;
		height: 100%;
		padding-top: 50px;
		top: 0;
		left: 0px;
		background: #007bff;
		width: auto;
		display: none;
		z-index: 3;
	}
	#sidemenu .btn {
		text-align: left;
	}
	#close {
		display: inline;
		border: 1px solid white;
		padding: 1px 5px;
		color: white;
		cursor: pointer;
	}
	#sidemenu-toggler {
		color: white;
		background: #007bff;
		padding: .5rem;
		position: fixed;
		left: 0;
		top: 60px;
		cursor: pointer;
		z-index: 2;
	}
}